/*dlna icon*/

.icon-dlna {
	background: url('~@/assets/dlna.svg') center no-repeat;
	background-size: contain;
}

.icon-dlna.black {
	background: url('~@/assets/dlna-black.svg') center no-repeat;
	background-size: contain;
}

.icon-dlna.darkgray {
	background: url('~@/assets/dlna-darkgray.svg') center no-repeat;
	background-size: contain;
}

/*docker icon*/

.icon-docker {
	background: url('~@/assets/docker.svg') center no-repeat;
	background-size: contain;
}

.icon-docker.black {
	background: url('~@/assets/docker-black.svg') center no-repeat;
	background-size: contain;
}

.icon-docker.darkgray {
	background: url('~@/assets/docker-darkgray.svg') center no-repeat;
	background-size: contain;
}
